#title{
  background-color: #ff4c68;
  color:#fff;
}
.container-fluid
{
  padding: 3% 15% 7%;
}
h1
{
  font-family: "Montserrat-Black";
  line-height:1.5;
  font-size:3.5rem;
}
h2
{
  line-height: 1.5;
  font-family: "Montserrat";
  font-size:2.5rem;

}
h3
{
  font-family: "Arial-Black" sans-serif;
}
.navbar
{
padding: 0 0 4.5rem;
}
.navbar-brand
{
  font-family: Ubuntu;
  font-size:2.5rem;
  font-weight:bold;
}
.nav-item
{
  padding: 0 10px;
}
.nav-link
{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.download_button
{
  margin:5% 3% 5% 0;
}
.title_image
{
  position:absolute;
  right:30%;
  width:50%;
  transform: rotate(25deg);
}
@media (max-width:1028px)
{
  #title
  {
    text-align: center;
  }
  .title_image
  {
    transform:rotate(0);
    position:static;
  }
}
#features
{
  position:relative;
  padding: 7% 10%;
  background-color: #fff;
}
.fas
{
  color:#ff4c68;
  margin-bottom:1.2rem;
}
.fas:hover
{
  color:pink;
}
.feature
{
  Text-align: center;
  padding:5%;
}
#testimonials
{
  padding:7% 15%;
  text-align:center;
  color:white;
  background-color: #ff4c68;
}
#press{
    background-color: #ff4c68;
    text-align:center;
    padding-bottom: 3%;
}
.carousel.item
{
  padding:7% 15%;
}
.press_pics
{
  width:15%;
  margin:20px 20px;
}
.test_dog1
{
  width:10%;
  border-radius: 100%;
  margin:20px;
}
#pricing
{
  padding:100px;
  text-align:center;
}
.card1
{
 padding:3% 2%;
}
#cta
{
  background-color: #ff4c68;
  text-align:center;
  color:#fff;
  padding:7% 15%;
}
.cta_h
{
  font-family:"Arial Black";
}
#footer
{
    padding:7% 15%;
  text-align:center;
}
.icons
{
  margin:20px 10px;
}
